# Rust
/target/
**/*.rs.bk

# Node / pnpm
node_modules/
**/out/
*.vsix
npm-debug.log*
.pnpm-store/
package-lock.json

# Astro docs
**/.astro/
**/dist/

# Turborepo
.turbo/

# Editors / OS
.idea/
.vscode/
*.swp
.DS_Store

# Env / secrets
.env
.env.*
